* {
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
}

html{
    font-size: 100%;
    scroll-behavior: smooth;
}

main {
    position: relative;
}

.box-ol {
    height: 100vh;
    width: 100%;
}

.box-ol > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    font-size: 2em;
}

#red {
    background-color: red;
    position: relative;
}

#green {
    background-color: green;
    position: relative;
}

#yellow {
    background-color: yellow;
    position: relative;
}